src/main/mule/jenkins-cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1307ffc7-d304-4f59-955b-9fa4289d29e3" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="98749713-494e-4fd5-8794-3696aba94a72" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="jenkins-cicd-demoFlow" doc:id="bcdd5ba6-9e81-47be-88ad-ae37dd83cb03" doc:description="http://mule-jenkins-cicd-demo-service.us-e2.cloudhub.io/timezone/Asia/Shanghai">
		<http:listener doc:name="Listener" doc:id="e53f0284-24d4-4585-857a-237228e2c6db" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="cc11c289-4fd1-4a92-aa06-79e1c7e6ef8f" config-ref="HTTP_Request_configuration" path="{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
	
</mule>
